{% extends 'NotepadBundle::base.html.twig' %}

{% block title %}Category list{% endblock %}

{% block pageheader %}Category list{% endblock %}

{% block actions %}
<a href="{{ path('notepad_category_new') }}"
   class="btn btn-lg btn-default">
  <i class="glyphicon glyphicon-plus"></i>
  Add category
</a>
<a href="{{ path('notepad_note_list') }}"
   class="btn btn-lg btn-default">
  Back
</a>
{% endblock %}

{% block content %}

<table class="table table-striped">
{% for category in categories %}
  <tr>
    <td>{{ category.name }}</td>
    <td class="text-right">
      <a href="{{ path('notepad_category_edit', {'category': category.id}) }}"
         class="btn btn-sm btn-default">
        <i class="glyphicon glyphicon-pencil"></i>
        Modify
      </a>
      <a href="{{ path('notepad_category_delete', {'category': category.id}) }}"
         class="btn btn-sm btn-default">
        <i class="glyphicon glyphicon-trash"></i>
        Delete
      </a>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
